/*
Author: Sandeep Maity
Date: 03 Aug 2017
*/

html, body {
    margin:0;
    font-size:100%;
    font-family: 'Lato', sans-serif;
    background: #fff;
}

body a {
    text-decoration:none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a:hover {
    text-decoration: none;
}

input[type="button"],input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h2,h3,h4,h5,h6 {
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

p {
    margin: 0;
}

ul {
    margin:0;
    padding:0;
}

label {
    margin: 0;
}

.header h1 {
    margin: 0;
}

.header {
    padding: 2em 2.5em;
}

.banner {
    background: url(../images/banner.jpg) no-repeat 0px 0px;
    background: #0086fe;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 770px;
    position: relative;
}

.banner-image-layout img {
    position: absolute;
    bottom: 0;
    right: 6%;
    width: 425px;
}

.agile_logo {
    float: left;
}

.agile_logo h1 a {
    font-size: 1.3em;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-family: 'Josefin Sans', sans-serif;
}

.agile_logo h1 a span {
    display: block;
    font-size: .3em;
    letter-spacing: 13px;
    text-transform: capitalize;
    background: rgba(255,255,255,0.22);
    padding: 5px 0px 5px 10px;
    color: rgb(33,99,158);
    font-weight: 600;
}

/* -- menu -- */

.m-nav-btn {
    position: fixed;
    margin: 4.3em 0em 0;
    right: 2.5%;
    top: -2.5%;
    z-index: 999;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,0.04);
}

.m-nav-btn .m-nav-btn_line {
    width: 30px;
    height: 2px;
    background: #fff;
    position: relative;
    transition: 1s ease;
    margin: .3em auto;
}

.m-nav-btn .m-nav-btn_line:nth-of-type(2) { margin: 0.7em auto;}

.m-nav-btn .m-nav-btn_line--1 {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    top: 13px;
    position: absolute;
}

.m-nav-btn .m-nav-btn_line--2 {
    display: none;
}

.m-nav-btn .m-nav-btn_line--3 {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    top: 13px;
    position: absolute;
}

.m-nav-btn .m-nav-btn_line--1,.m-nav-btn .m-nav-btn_line--3 {
    left:10%;
}


